body {
	width: 70%;
	margin-left: 5%;
}

.box {
	float: left;
	margin: 2% 3% 2% 2%;	
	width: 30%;
}

img, .title {
	display: block;
    margin: 0 auto;
    text-align: center;
}

#webview {
    width: 80%;
}

#courseinventory {
    width: 95%;
}

#clockwidget {
	width: 80%;
}
