<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  routerLink="/">Trigger</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/keyframe">Keyframe</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/animation">Animation</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="overflow: hidden">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
