  /*import a font family (Allan)*/
  @import url(http://fonts.googleapis.com/css?family=Allan:700);

  /* @media Rules */
  /* css for the layout of desktop from Portrait tablet*/
	@media screen and (min-width: 750px) {

      /* header div: main heading and sub-heading */
      #header header {
          text-align: center;
      }

      /* header div: main heading */
      #header h1 {
          font-size: 2.5em;
      }

      /* header div: sub-heading */
      #header h2 {
          font-size: 1.5em;
      }

      /* header div: navigation: styled to fit in a single row */
      #header nav {
          width: 65%;
          text-align: right;
          float: left;
      }

      /* header div: navigation: a tag */
      #header a {
          font-size: 1.2em;
      }

      /* header div: search form: styled to fit in a single row */
      #header form {
          width: 30%;
          text-align: center;
          float: right;
      }

      /* clear float styling of each followed division */
      #stories, #images, #medias, #blog, #footer {
          clear: both;
      }

      /* stories div: the same size and styled to fit in a single row*/
      #stories section {
          width: 47.5%;
          float: left;
      }

      /* images div: the same size and styled to fit in a single row*/
      #images section {
          width: 15.3%;
          float: left;
      }

      /* images/medias div: image size */
      #images img, #medias video, #medias img, #medias audio {
          width: 100%;
      }

      /* smedias div: the same size and styled to fit in a single row */
      #medias section{
          width: 23.3%;
          float: left;
      }

      /* blog div: styled to fit in a single row */
      #editing {
          width: 40%;
          float: left;
      }

      /* blog div: styled to fit in a single row */
      #posting {
          width: 54.7%;
          float: left;
      }

      /* text font size */
      p, label, section, footer {
          font-size: 0.9em;
      }

    /* Form.html CSS*/

    /*  div of calculator*/
    #calculator {
        clear: both;
        float: left;
        width: 20%;
    }

    #calculator input {
        font-size: 2em;
        width: 18.5%;
    }

    #calculator textarea {
        font-size: 3em;
    }

    #calculator h2, #wordcnt h2, #wordcntR h2 {
        font-size: 2em;
    }

    /*  div of word count*/
    #wordcnt {
        width: 30%;
        float: left;
    }

    #wordcntR {
        width: 15%;
        float: left;
    }

}

  	/* css for the layout of mobile and up to tablet */
  	@media screen and (max-width: 750px) {

      /* header div */
      #header {
          text-align: right;
      }

      /* header div: main heading */
      #header h1 {
          font-size: 1.2em;
      }

      /* header div: sub-heading */
      #header h2 {
          font-size: 0.9em;
      }

      /* header div: navigation: a tag */
      #header a {
          font-size: 0.7em;
      }

      /* images div: image size */
      #images img {
          width: 70%;
      }

      /* medias div: size */
      #medias video, #medias img, #medias audio {
          width: 100%;
      }

      /* text font size */
      p, label:not(#searchcss), section, footer {
          font-size: 0.8em;
      }

      #searchcss {
          font-size: 0.7em;
          text-align: right;
      }

      /* Form.html CSS: calculator and word count*/
      #calculator input {
          font-size: 1.5em;
          width: 19%;
          padding: 2%;
      }

      #calculator textarea {
          font-size: 2em;
      }

      #calculator h2, #wordcnt h2, #wordcntR h2 {
          font-size: 2em;
      }

    }

	  /* common styling independent on media*/

    body {
        background-image:url("../images/green-waves.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color:  #ECF3D1;
		line-height: 130%;
        vertical-align: middle;
        margin-top: 6%;
        margin-left: 4%;
	  }

    /* header div: main heading and sub-heading */
    #header h1, #header h2, #footer {
        font-family: Allan;
        color: #003366;
    }

    /* header div: navigation */
    #header nav {
        padding-top: 2%;
    }

    #header a {
        padding: 1%;
        text-decoration: none;
        margin-right: 1%;
        border-style:outset;
        color: white;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        border-radius: 4px;
    }

    /* give colors to buttons */
    #header a:first-child {
        background-color: #f0cc11;
    }

    #header a:nth-child(2) {
        background-color: #f0ad4e;
    }

    #header a:nth-child(3) {
        background-color: #5bc0de;
    }

    #header a:nth-child(4) {
        background-color: #d9534f;
    }

    #header a:nth-child(5) {
        background-color: #5cb85c;
    }


    /* Search Form CSS */
    #searchcss label {
          color: orange;
          font-size: 0.9em;
      }

    #searchcss button {
          background-color: #003366;
          color: white;
      }

    #searchF {
        padding-top: 1%;
        margin-right: 0%;
    }


    /* sets the scrolls and heights */
    .scrollst {
        height: 420px;
        overflow-y:auto;
    }

    .scrollimg {
        height: 100px;
        overflow-y: auto;
    }

    .scrollmd {
        height: 200px;
        overflow-y: auto;
    }

    #scrollposting {
        height: 430px;
        overflow-y: auto;
    }

    /* text color of stories section */
    #stories h3 {
        color: red;
    }

    /* text color of stories section */
    #stories q {
        color: #2f4f4f;
    }

    /* text color of stories section */
    #stories cite {
        color:  ‎#228B22;
    }

    /* text color of story section */
    #stories p {
        color: #cd853f;
    }

    /* text color of images section */
    #images p {
        color:  #151B54;
    }

    /* text color of images section */
    #images b {
        color: #ff1493;
        text-decoration: underline;
    }

    /* text color of medias section */
    #medias p {
        color: #db7093;
    }

    /* text color of medias section */
    #medias cite {
        color: #006400;
        font-weight: bold;
    }

    /* all div: section */
    section {
      border: dotted #d3d3d3 1px;
      padding: 4px;
      margin: 1% 0 0 0;
    }

    /* Blog Form CSS */
    #editing form {
          border-radius: 4px;
          padding: 10px;
      }

    #editing form:not(.nobgc) {
            background: #32cd32;
        }

    #editing label {
          color: brown;
          display: block;
          font-size: 1em;
          font-weight: bold;
          margin: 0 0 0 2px;
      }

    #editing input, #editing textarea {
          border-radius: 4px;
          padding: 4px 5px;
          width: 95%;
      }

    #editing input {
        margin: 0 0 10px;
        font-size: 0.8em;
        color: green;
      }

    #editing textarea {
          color: green;
          font-size: 1.1em;
      }

    #editing button {
        background-color: navy;
        border: 1px solid #888;
        color: white;
        cursor: pointer;
        font-weight: bold;
        margin: 10px 0 10px 0;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
        width: 25%;
      }

    #posting b {
          color: BlueViolet ;
      }

    #posting p {
          color: DarkSlateGray ;
      }


      /* Form.html CSS*/

      /*  div of calculator*/
      #calculator {
          padding: 2%;
          margin-right: 3%;
          margin-left: 3%;
          border-style: none;
      }

      #row {
          display: inline-table;
      }

      #calculator input {
          height: 110%;
          margin-bottom: 0.8%;
      }

      #calculator textarea {
          color: orange;
          width: 81%;
      }

      #calculator h2, #wordcnt h2, #wordcntR h2 {
          color: orange;
      }

      /*  div of word count*/
      #wordcnt {
          padding: 2%;
          margin-right: 3%;
          border-style: none;
      }

      #wordcnt button {
          font-size: 1em;
          color: white;
          background-color: red;
      }

      #wordcnt span {
          font-size: 1em;
          color: brown;
      }

      #wc {
          background-color: #CC99AA;
          color: Green ;
          font-size: 1.1em;
          width: 100%;
      }


      #wordcntR {
          padding: 2%;
          margin-right: 3%;
          border-style: none;
      }

      #wcr {
          height: 212px;
          overflow-y: auto;
          background-color: #AA88CC;
          color: white;
      }

      #wordcntR th {
          text-align: left;
          margin-right: 3%;
          color: #003366;
      }


      /* Footer CSS*/
      #footer {
            font-family: Allan;
            font-style: italic;
            width: 95.5%;
            font-size: 1em;
        }
